/checkpoints/ 
/datasets/CC/CC/csv
/datasets/CC/CC/txt
/datasets/CC/*.csv
/datasets/CC/CC/*.csv
/datasets/ABR/trace_num_100_fixed_True
/environments/adaptive_bitrate_streaming/artifacts*
/datasets/CC/*.pkl
/src/*.pkl
/datasets/*.csv
/datasets/*.pkl
/*.csv
/logs/
/train_checkpoints/
/src/logs/
/llama-7b/
/metrics/
__pycache__
/output_dir/
/path/
/results/
/*tar.gz
/environments/adaptive_bitrate_streaming/artifacts
/plots_code/plots/*
/swap