/llama-7b/
/metrics/
__pycache__
/output_dir/
/path/
/results/
/datasets/CC/csv
/datasets/CC/txt
/datasets/CC/*.csv
/datasets/CC/*.pkl
/datasets/*.csv
/datasets/*.pkl
/*.csv
/logs/
/train_checkpoints/
/src/logs/
/checkpoints/
/*tar.gz